.moviesList {
    display: flex;
    justify-content: center;
}

.moviesPage {
    width: 85%;
    display: flex;
    margin: 0 0 20px 15%;
}

.rowMovies {
    display: flex;
}

.movieDetail {
    display: flex;
    width: 84%;
    margin: 20px 0 100px 16%;
}

.movieHeadInfo {
    display: flex;
}

#filmImage {
    max-height: 250px;
    border-radius: 5px;
}

.buttonContainer {
    width: 20%;
    margin-top: 20%;
    height: 20%;
    margin-left: 10%;
}

.movieHeadText {
    margin: 0 20px;
    width: 50%;
}

.movieHeadText p {
    margin: 0;
    padding: 0;
}

.ratingLine {
    font-size: 40px;
    font-weight: bold;
}

.ratingLine img {
    vertical-align: middle;
}

.suatchieu {
    width: 90%;
    min-height: 200px;
    max-width: 1000px;
    background-color: rgb(243 243 243);
    border-radius: 20px;
    padding: 10px 20px;
}

.ngay-chieu {
    overflow-x: scroll;
    padding: 10px;
    display: flex;
}

.ngay-chieu::-webkit-scrollbar {
  height: 5px;
}
.ngay-chieu::-webkit-scrollbar-track {
  background: none; 
}
.ngay-chieu::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 3px;
}
.ngay-chieu::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.ngayChieuPhim {
    padding: 5px 20px 9px 20px;
    margin: 0 10px;
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    background-color:  rgb(238, 238, 238);
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
}

.gio-chieu {
    display: flex;
    margin: 10px 20px;
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    height: 100px;
    background-color: rgb(219, 219, 219);
    cursor: pointer;
}

.buttonchonghe {
    width: 100%;
    padding-left: 70%;
    border-radius: 10px;
}

#buttonGhe {
    background-color: white;
}

.gioChieuPhim {
    padding: 5px 20px 9px 20px;
    margin: 0 10px;
    width: fit-content;
    height: fit-content;
    background-color: white;
    font-weight: bold;
    font-size: 25px;
    border-radius: 20px;
}