#SignUpLogin {
    background: rgba(19, 19, 19, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 500;
}

.clickHide {
    background: rgba(19, 19, 19, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 45px;
    background: -webkit-linear-gradient(#ffd752, #fa7538);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.SignUp {
    font-family: 'UTMAvo';
    position: absolute;
    display: inline;
    width: 40%;
    text-align: center;
    background-color: #ffffff;
    border-radius: 40px;
    padding: 0px 40px 40px 40px;
}

.SignUp form {
    text-align: left;
    width: 60%;
    margin-left: 20%;
}

.SignUp form div {
    margin-top: 10px;
}

.SignUp form div label {
    width: 100%;
    font-size: 25px;
    -webkit-transition: all 0.2s ease-out;
    display: flex;
}
.SignUp form div label b {
    width: fit-content;
}

.registerNotify {
    color: red;
    opacity: 0.8;
    font-size: 13px;
    text-align: right;
    display: none;
    width: 50%;
}

.SignUp form div input {
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 10px;
    font-family: 'Franklin Gothic Demi Cond';
    width: 100%;
    height: 30px;
    font-size: 15px;
    -webkit-transition: all 0.2s ease-out;
}

.SignUp form div:hover label{
    color: #fa7538;
}
.SignUp form div:hover input{
    border: 4px solid #fa7538;
    color: #fa7538;
    height: 33px;
    font-size: 24px;
}

.SignUp button {
    text-align: center;
    background: linear-gradient(to bottom right, #ffd752, #fa7538);
    border: none;
    font-family: 'UTMAvo';
    margin-top: 30px;
    padding: 8px 20px 13px 20px;
    font-size: 25px;
    width: fit-content;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 12px;
    color: white;
    font-weight: bold;
}

.SignUp button:hover {
    background: transparent;
    border: 4px solid #fa7538;
    padding: 4px 16px 9px 16px;
    transition: ease-in 0.13s;
    color: #fa7538;
}

.SignInOptions {
    border-radius: 10px;
    font-size: 28px;
    padding: 5px 5px 5px 5px;
    width: 70%;
    margin: 20px 15%;
    text-align: left;
    color: #df4b4b;
    border: 4px solid #df4b4b;
}

.SignInOptions:hover {
    color: #ffffff;
    border: 4px solid #df4b4b;
    background-color: #df4b4b;
}

.SignInOptions:last-child {
    color: #4178e1;
    border: 4px solid #4178e1;
}

.SignInOptions:last-child:hover {
    color: white;
    border: 4px solid #4178e1;
    background-color: #4178e1;
}