.movie-image {
    width: 200px;
    height: 270px;
    background-color: rgb(231, 185, 57);
    border-radius: 4px;
    background-position: center;
    background-size: contain;
}

.movie-card {
    padding: 10px 5px;
    max-width: 200px;
    min-width: 200px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: black;
    overflow: hidden;
}