h3 {
    font-family: UTMAvo;
    margin: 4px;
}

.eventsPage {
    display: flex;
    margin: 0px 0 20px 15%;
}

.eventsContainer {
    width: 70%;
}

.eventCard {
    width: 96%;
    display: flex;
    padding: 10px 2%;
}

.eventCard img {
    height: 190px;
    width: auto;
    max-width: 138px;
}

.eventCardText {
    width: 100%;
    padding: 0px 10px;
}

.eventCard p {
    width: fit-content;
    overflow-y: hidden;
    margin: 0;
    height: 132px;
    font-weight: normal;
}

.eventCard p strong {
    font-weight: normal;
}

.eventCard a {
    text-decoration: none;
    color: rgb(226, 196, 131);
}

.eventDetail {
    padding: 30px 0;
}

.eventDetailHead {
    display: flex;
}

.eventDetailHead img{
    height: 190px;
    width: auto;
    max-width: 138px;
}

.eventName {
    font-size: 30px;
    color: rgb(226, 196, 131);
}